.container {
  display: flex;
  max-width: 80%;
  margin: 20px auto 0;
}
.top_btn {
  display: flex;
  gap: 32px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form_container input {
  height: 40px;
  padding: 0 8px;
}
.form_container textarea {
  padding:8px;
}
.form_container label {
  font-size: 16px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}
.sub_btn {
    display: flex;
    justify-content: center;
}
